# Ignore everything in the root except
# of git and repository specific files.
/*
!.git
!.gitignore
!.gitlab-ci.yml
!README.md

# Ignore all files inside `wp-content` ...
!wp-content
wp-content/*
# ... except directories with plugins and theme.
!wp-content/mu-plugins/
!wp-content/plugins/
!wp-content/themes/

# Ignore development specific directories.
.svn

# Ignore useless dot and temp files.
.DS_Store
Thumbs.db
/wp-content/themes/twentysixteen
/wp-content/themes/twentynineteen
/wp-content/themes/twentyseventeen
/wp-content/themes/twentytwenty
/wp-content/themes/twentytwentyone

