$primarycolor: #012970;
$secondarycolor: #74d5ff;
$bodycolor: #444;

$white: #fff;
$black: #000;
$blue: #013289;
$darkblue: #0b198f;
$grey: #848484;
$orange: #f68c09;
$green: #08da4e;
$light: #d0d4fc;
$lightgrey: #aaa;
$lightblue: #0257ee;
$bgfooter: #f6f9ff;
$btnblue: #4154f1;
$btnhover: #5969f3;
$linkhover: #4154f1;
$bgcheck: #ecf3ff;
$bg: #fafbff;
$bloglink: #777;

$border: #e1ecff;
$borderinput: #ced4da;

$primaryfont: "Open Sans", sans-serif;
$secondaryfont: "Nunito", sans-serif;
