.contact {
  &__info-box {
    color: $bodycolor;
    background: $bg;
    padding: 30px;
    height: 193px;

    i {
      line-height: 0;
      color: $btnblue;
      padding-top: 10px;

      @include fontSize(38);
    }

    h3 {
      color: $primarycolor;
      font-weight: 700;
      margin: 20px 0 10px;

      @include fontSize(20);
    }

    p,
    a {
      padding: 0;
      margin-bottom: 0;
      color: $bodycolor;

      @include fontSize(14);
      @include lineHeight(24);
    }
  }
}
