.header {
  transition: all 0.5s;
  z-index: 997;
  padding: 20px 0;

  &__logo {
    line-height: 0;

    img {
      max-height: 40px;
      margin-right: 6px;
    }

    span {
      font-weight: 700;
      letter-spacing: 1px;
      color: $primarycolor;
      font-family: $secondaryfont;
      margin-top: 3px;

      @include fontSize(30);
    }
  }
}

.navbar {
  padding: 0;

  ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;

    li {
      position: relative;

      a,
      a:focus {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 0 10px 30px;
        font-family: $secondaryfont;
        font-weight: 700;
        color: $primarycolor;
        white-space: nowrap;
        transition: 0.3s;
      }
    }
  }

  .active a {
    color: $btnblue;
  }

  .getstarted a,
  .getstarted:focus {
    background: $btnblue;
    padding: 8px 20px;
    margin-left: 30px;
    border-radius: 4px;
    color: $white;

    &:hover {
      color: $white;
      background: $btnhover;
    }
  }
}
